
/* Nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b94a48;
    /*#996515*/
}

lin {
    float: left;
}

lin a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

lin a:hover {
    display: block;
    color: #520000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.center {
    text-align: center;
}

/* Home Page Article Box */
.article {
    border: 1px solid black;
    margin: 25px 100px 75px 100px;
    background-color: #ffdddb;
    /*#daffd4*/
}

/*Basic padding, will replace for universal margining*/
.text_padding {
    padding-left: 20px;
}

.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    font-size: 2.5rem;
}

/* ?? */
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #fc9d9a;
    /*#727272*/
}

.logoCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
